*.o

/cp/include
/cp/Makefile
/cp/stage1
/cp/stage2
/cp/stage3
/cp/stage4

/bc-arity.h
/bc-opcode.h
/bc-opname.h
/bc-arity.h
/bi-arity
/bi-opcode
/bi-opname
/config.h
/config.status
/hconfig.h
/Makefile
/options.h
/specs.h
/tconfig.h
/tm.h
/stamp-*
/insn-*

/genattr
/genattrtab
/gencodes
/genemit
/genextract
/genflags
/genconfig
/genopinit
/genoutput
/genpeep
/genrecog
/multilib.h

/cccp
/cpp
/cc1
/xgcc
/cc1plus
/g++
